<h1 class="site_title">Five Level Tagging 【5段階タグ付けアプリ】</h1>

<div class="section lists_heading_section">
  <h2>リスト一覧（トップページ）</h2>
</div>

<div class="section lists_section">
  <h4>●全ユーザーが投稿したリスト一覧</h4>
  <div class="link_bar">
    <%= link_to "リスト新規投稿（ログイン中のみ可）", new_list_path %>
    <%= "投稿総数：#{@lists.length}" %>
    <span class="note">※列の見出しリンクをクリックして並び替え。</span>
  </div>

  <%= render "shared/list_table" %>
</div>

<div class="section message_for_testers">
  <h4>●テスト用アカウントにログインして閲覧する皆様へ</h4>
  <p class="note">
    ※既存データ（サンプルデータ）の編集・削除はご遠慮ください。（user1~2, list1~6, item1~72）<br>
    ※新規データの投稿・編集・削除は問題ございません。（データベースリセットの目安：平日22時頃）<br>
    ※開発中アプリにつき、レイアウト装飾（配色・フォントなど）は、一通りの機能実装後に着手します。
  </p>
</div>
