<div class="section edit_user_heading_section">
  <h2><%= "ユーザーアカウント編集：#{@user.user_name}" %></h2>
</div>

<div class="section edit_user_form_section">
  <%= render partial: "form", locals: { method: :patch } %>
</div>
