<div class="wrapper">
  <%= link_to "リストへ戻る：#{@list.title}", list_path(@list.id) %>
  <br><br>

  <h2><%= "アイテム編集：#{@item.item_name}" %></h2>

  <%= render partial: "form", locals: { url: list_item_path(list_id: @list.id, id: @item.id), method: :patch } %>
</div>
