/* ※開発中アプリにつき、ユーザー目線の説明やレイアウト装飾は、一通りの機能実装後に着手する。 */

* {
  box-sizing: border-box;
}

a {
  color: #000;
}

a:visited {
  color: #666;
}

a:hover {
  color: #fff;
  background-color: #000;
}

header {
  background-color: #f1f8fe;
  margin-bottom: 20px;
  padding: 20px;
}

.wrapper {
  margin: 20px;
}

.td_nowrap {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 0;
}

.incremental_search_tags {
  border: 1px solid;
  border-radius: 2px;
  background-color: #F4F4F4;
  padding: 4px;
  margin: 2px;
  line-height: 30px;
}

.ui-sortable-handle {
  cursor: grab;
}

.ui-sortable-handle:active {
  cursor: grabbing;
}
